header{
		display: flex;
		color: #ddd;
		margin-bottom: 15px;
		margin-top: 10px;
		margin-left: 5px;
}

header h1{
	font-weight: 600;
	padding-left: 15px;
}

#header-section {
	width: 100%;
	font-weight: 600;
}

#options{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #222;
	padding: 5px 0px;
}


#options .nav-options ul{
	margin-left: 10px;
}

	@media only screen and (max-width: 635px){

		header h1{
			font-size: 1.7em;
		}

		ul li a {
			padding: 0;
			margin: 0;
		}
	}

	@media only screen and (max-width: 455px){

		header h1{
			font-size: 1.5em;
		}
	}
