.admin-portal {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;

	.current-events {
		flex-grow: 1;
		height: 100%;
		align-items: center;
		border-right: solid;
	}

	.create-new-event {
		flex-grow: .25;
		align-items: center;
		height: 100%;

		button {
			cursor: pointer;

			&:hover {
				color: rgba(207, 184, 124, 0.8);
			}
		}
	}
}
