.admin-portal {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;

	.current-event {
		align-items: center;
		flex-grow: 0;
	}

	.create-new-event {
		align-items: center;
		cursor: pointer;
		display: flex;
		flex-grow: 1;
		justify-content: center;
		max-width: 300px;

		&:hover {
			color: rgba(207, 184, 124, 0.8);
		}
	}
}
