#home {
	width: 100%;
	display: flex;
	flex-grow: 1;

	button {
		font-size: 2.5em;
		cursor: pointer;
		&:active {
			color: rgba(207, 184, 124, 0.8);
		}
		&:hover {
			color: rgba(207, 184, 124, 0.8);
		}
	}

	div {
		display: flex;
	}

	h1 {
		margin: 10px 0 25px 0;
		font-size: 1em;
	}

	.volunteer-portal {
		display: flex;
		width: 100%;

		.events {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-grow: 1;
			height: 100%;
			align-items: center;

			.refresh-data {
				position: absolute;
				z-index: 99999;
				left: 0;
				top: 0;
			}

			.events-body {
				flex-grow: 1;
				overflow: auto;
				width: 100%;
				justify-content: flex-start;
				flex-direction: column;

				div {
					flex-shrink: 0;
					justify-content: center;
				}
			}

			button {
				flex-grow: 1;
			}

			h2 {
				font-size: 3em;
				border-bottom: solid;
				border-width: 2px;
			}
		}

		.upcoming-events {
			border-right: 3px double;
			display: flex;
			flex-direction: column;
			align-items: center;

			.global-events {
				flex-grow: 1;
				width: 100%;
			    display: flex;
			    justify-content: center;
			}
		}

		.my-events {
			display: flex;
			flex-direction: column;
			align-items: center;

			.local-events {
				flex-grow: 1;
				width: 100%;
			    display: flex;
			    justify-content: center;
			}
		}
	}
}
