#home {
	width: 100%;
	display: flex;
	font-size: 2.5em;
	flex-grow: 1;

	div {
		display: flex;
		justify-content: center;
	}

	h1 {
		margin: 10px 0 25px 0;
		font-size: 1em;
	}

	.volunteer-portal {
		display: flex;
		width: 100%;

		.upcoming-events {
			border-right: 3px double;
			display: flex;
			flex-direction: column;
			align-items: center;

			.global-events {
				flex-grow: 1;
				width: 100%;
			    display: flex;
			    justify-content: center;
			}
		}

		.my-events {
			display: flex;
			flex-direction: column;
			align-items: center;

			.local-events {
				flex-grow: 1;
				width: 100%;
			    display: flex;
			    justify-content: center;
			}
		}
	}
}
