@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*,
*:before,
*:after {
	margin:0;
	padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after {
	display: table;
	content: " ";
	clear: both;
}
.content-container {
	max-width: 960px;
	margin: 0 auto;
}

.center {
	text-align: center;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}

.hide-mobile {
	display: none;
	flex-grow: 1;
	padding: 0px 10px;
}
.make-visible-mobile{
	display: unset;
	flex-grow: 1;
	padding: 0px 10px;
}

body, html{
	background-color: #333;
}

#app-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Neue Helvetica W01","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #f8f8f8;
}

#app-container a {
	transition: background-color 0.25s ease,border-color 0.25s ease,color 0.25s ease,-webkit-box-shadow 0.25s ease,-moz-box-shadow 0.25s ease,box-shadow 0.25s ease;
	text-decoration: none;
}

ul {
	font-size: 1.6em;
	list-style-type: none;
	display: flex;
	cursor: pointer;
	color: #ccc;
	align-items: center;
	margin-bottom: 0px;
}

ul li {
	padding: 0 15px;
}

ul li a {
	color: #ccc;
	display: inline-block;
	position: relative;
	z-index: 1;
	padding: 0.75em;
	margin: -0.75em;
}

.menu {
	display: flex;
	width: 100%;
	background: #333;
	min-height: 40px;

}

li a:hover, li a:active {
	color: #cfb87c;
}

footer{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	color: #fff;
	font-size: 1.2em;
}

.title {
	position: absolute;
}

.the-goods{
	width: 100%;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	background-color: #fff;
	min-height: calc(100vh - 100px);
}

	@media only screen and (min-width: 713px) {

		.hide-mobile {
			display: unset;
		}

	}

	@media only screen and (max-width: 640px){

		body, html {
		overflow: auto!important;
		max-height: 100% !important;
		}

	}

	@media only screen and (max-width: 560px){

			li a:hover, li a:active {
				background-color: rgba(207, 184, 124, 0.8);
				color: #333;
			}

	}
