@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

.container {
	max-width: 960px;
	margin: 0 auto;
}

.center {
	text-align: center;
}


#app-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Neue Helvetica W01","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#app-container a {
	transition: background-color 0.25s ease,border-color 0.25s ease,color 0.25s ease,-webkit-box-shadow 0.25s ease,-moz-box-shadow 0.25s ease,box-shadow 0.25s ease;
	text-decoration: none;
}

ul {
	font-size: 1.25em;
	list-style-type: none;
	display: flex;
	cursor: pointer;
	padding: 0px;
	color: #ccc;
	align-items: center;
	margin: 0px;
}

ul li {
	margin: 0 15px;
}
ul li a {
	color: #ccc;
}

.menu {
	display: flex;
	width: 100%;
	background: #333;
	min-height: 40px;

}

li a:hover, li a:active {
	color: #cfb87c;
}
#header {
	display: flex;
	// flex-wrap: wrap;
	width: 100%;
	padding: 10px 0px;
	font-weight: 600;
}


#header .nav-options {
	display: flex;
	flex-grow: 1;
}
#header .nav-options ul{
	margin-left: 10px;
}

#header .auth-option {
	display: flex;

}

#footer {
	display: flex;
	flex-grow: 1;
	font-weight: 600;
}
#footer ul{
	width: 100%;
	padding: 5px 0px;
	background-color: #272727;
}

.title {
	position: absolute;
}

.the-goods{
	width: 100%;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	background-color: #f8f8f8;
}
