.data-input {
	display: flex;
	flex-direction: column;
	justify-content: center;

	h2 {
		color: black;
		font-size: 3em;
		margin-bottom: 25px;
		text-align: center;
	}

	form {
		display: flex;
		flex-direction: column;
		font-size: 1.4em;
	}

	div {
		display: flex;
		margin-bottom: 10px;
	}

	button {
		margin-bottom: 10px;
	}

	label {
		flex-grow: 1;
	}

	select {
		background-color: white;
		display: flex;
		flex-grow: 7;
	}

	.password {
		display: flex;
		flex-direction: column;
	}

	.column-form{
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 370px){
	.data-input {
    font-size: 0.7em;
	}
}
