.admin-portal {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;

	.confirmation {
		width: 100%;
		flex-shrink: 0;

		button {
			width: 100%;
		}
	}

	.admin-body {
		width: 100%;
		//height: 100%;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		align-items: center;

	}

	.events {
		display: flex;
		flex-direction: column;
		align-items: center;
		//flex-grow: 1;
		//height: 100%;
		align-items: center;
		border-bottom: solid;
		width: 100%;
		max-height: 80%;
		overflow: auto;

		.events-body {
			flex-grow: 1;
			overflow: auto;
			width: 100%;
    	justify-content: flex-start;
			flex-direction: column;

			div {
				flex-shrink: 0;
				justify-content: center;
			}
		}

		button {
			font-size: 1em;
			flex-grow: 1;
		}

		h2 {
			font-size: 3em;
			border-bottom: solid;
			border-width: 2px;
		}
	}

	.create-new-event {
		//flex-grow: .25;
		//align-items: center;
		//height: 100%;
		//justify-content: center;
	}
}

/*TABLET VIEW */
@media only screen and (max-width: 830px){

	.admin-portal {
      flex-direction: column;
      height: 100%;
  }

	.admin-portal .events {
		border-right: 0;
		width: 95%;
	}


}

/*PHONE VIEW*/
@media only screen and (max-width: 528px){

  .events h2 {
    font-size: 30px;
  }

}
