#big-container{
	height: 100vh;
	margin: 0 0 0 0;
}

body {
	margin: 0;
}

*,
*:before,
*:after {
	margin:0;
	padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after {
	display: table;
	content: " ";
	clear: both;
}
